* {
    margin: 0;
    border: none;
    font-family: 'Jersey 10';
}

.zalando-sans-font {
  font-family: "Zalando Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200px;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.jersey-10-regular {
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
}


html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
  }

body {
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(40, 39, 54);
}

canvas {
    border-radius: 10px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.486);
    display: block;
}

#surface {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    display: none;
}

#buffCardsBox {
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    position: absolute;
    display: none;
    flex-direction: column;
}

.buffCardCommon, .buffCardSpecial {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
    width: 30%;
    max-width: 400px;
    height: 90%;
    max-height: 700px;
    padding: 10px;
    overflow: hidden;
    border-radius: 10px;
    transition: all 0.7s ease;
    margin: 10px;
}

.buffCardCommon {
    border: 5px solid #615883;
    background: linear-gradient(to bottom, #2b2542, #362542);
    box-shadow: 0px 0px 20px rgba(79, 68, 92, 0.623);
}

.buffCardCommon:hover {
    border: 5px solid rgb(230, 228, 255);
    background: linear-gradient(to bottom, #362f52, #402d4e);
    box-shadow: 0px 0px 20px rgba(79, 68, 92, 0.623);
}

.buffCardSpecial {
    border: 5px solid rgb(255, 248, 228);
    background: linear-gradient(to bottom, #d4b371, rgb(192, 133, 96));
    box-shadow: 0px 0px 20px rgba(79, 68, 92, 0.623);
}

.buffCardSpecial:hover {
    border: 5px solid white;
    background: linear-gradient(to bottom, #e5c27e, rgb(210, 147, 108));
    box-shadow: 0px 0px 20px rgba(79, 68, 92, 0.623);
}

.buffCardCommon img, .buffCardSpecial img {
    width: 50%;
    border-radius: 10px;
    size: 20%;
    padding: 20px;
}

.buffCardCommon p, .buffCardSpecial p {
    color: white;
    text-align: center;
    overflow-y: scroll;
    overflow-wrap: break-word;
}

.buffCardCommon h2, .buffCardSpecial h2 {
    color: white;
    text-align: center;
    margin-bottom: 5px;
    width: 300px;
    font-size: 40px;
    height: 15%;
}

.buffCardCommon:hover, .buffCardSpecial:hover {
    transition: all 0.7s ease;
    height: 700px;
    width: 450px;
}

.fade-slide {
  transition: opacity 260ms ease, transform 260ms ease;
  opacity: 0;
  transform: translateY(-10px);
}

.fade-slide-show {
  opacity: 1;
  transform: translateY(0);
}

.fade-slide-hide {
  opacity: 0;
  transform: translateY(-10px);
}

#menu {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
}

#menu button {
    background-color: #362f52;
    margin: 10px;
    padding: 10px;
    font-size: 40px;
    width: 50%;
    max-width: 300px;
    height: 70px;
    border-radius: 10px;
    transition: all 0.7s ease;
    box-shadow: 0px 0px 10px rgba(79, 68, 92, 0.623);
    border: 3px solid #615883;
    color: white;
}

#reroll, #retry {
    background-color: #362f52;
    margin: 10px;
    margin-top: 45px;
    padding: 10px;
    font-size: 40px;
    width: 350px;
    height: 70px;
    border-radius: 10px;
    transition: all 0.7s ease;
    box-shadow: 0px 0px 10px rgba(79, 68, 92, 0.623);
    border: 3px solid #615883;
    color: white;
}

#reroll:hover, #retry:hover {
    transition: all 0.7s ease;
    border: 3px solid rgb(230, 228, 255);
    width: 400px;
    background-color: 362f52;
}

#menu button:hover {
    transition: all 0.7s ease;
    border: 3px solid rgb(230, 228, 255);
    width: 60%;
    background-color: 362f52;
}


#buffCardDesc {
    width: 300px;
    max-width: 400px;
    font-size: 27px;
    color: rgb(255, 255, 255, 0.8);
    text-align: center;
    height: 25%;
}


#buffCardEffect {
    width: 300px;
    max-width: 400px;
    font-size: 32px;
    font-weight: bold;
    margin-top: 20px;
    height: 20%;
}

#buffCardStack {
    text-align: end;
    font-size: 28px;
    width: 100%;
}

#menu h1 {
    width: 80%;
    font-size: 80px;
    color: white;
    text-align: center;
}

#menu p {
    font-size: 30px;
    color: rgb(222, 218, 237);
    text-align: center;
    width: 80%;
    max-width: 900px;
}

#playerstats {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

.gamearea {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 95%;
    height: 100%;
}

#healthbar {
    background: linear-gradient(to right, #4152ba, #30ffc9);
    height: 20px;
    top: 1230px;
    border-radius: 10px;
    margin-top: 5px;
    transition: width 0.3s ease;
}

#extrahealthbar {
    background: linear-gradient(to right, #be2c5d, #ffcf6b);
    height: 20px;
    top: 1240px;
    border-radius: 10px;
    margin-top: 5px;
    transition: width 0.3s ease;
}

#cardSelector {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60%;
    width: 95%;
}

#cardsTitle {
    font-size: 90px;
    margin-bottom: 45px;
    -webkit-background-clip: text;
          background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}

#gametitle {
    font-size: 70px;
    color: white;
    margin: 20px;
}

.cardsTitleCommon {
    background-image: linear-gradient(90deg, #8875d4, #9868ba);
    
}

.cardsTitleSpecial {
    background-image: linear-gradient(90deg, #e5c380, rgb(246, 153, 39));
}

#gameover {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
}

#finalStatsDisplay {
    display: flex;
    width: 600px;
}

#leftStatsDisplay, #leftStatsDisplay {
    width: 100%;
}

#leftStatsDisplay h2 {
    text-align: start;
}

#rightStatsDisplay h2 {
    text-align: end;
}

.finalStats {
    color: white;
    font-size: 40px;
    border-bottom: solid 3px rgba(255, 255, 255, 0.137);
    margin-bottom: 5px;
}

#defeatTitle {
    -webkit-background-clip: text;
          background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(90deg, #be2c5d, #da4b4b);
    font-size: 80px;
}

#statsComponents {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

#statsComponents h1 {
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    text-align: center;
    font-size: 40px;
}

#statsComponents img {
    width: 50px;
    height: 50px;
    margin-left: 15px;
}

#userSelectedBuffs {
    display: flex;
    width: 100%;
    align-items: end;
    justify-content: center;
}

#userSelectedBuffs img {
    width: 40px;
    height: 40px;
}

#userSelectedBuffs p {
    color: white;
    font-size: 28px;
    margin-right: 8px;
}
